<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>
	<div th:replace="navigation :: header_menu"></div>
	
	<div>&nbsp;</div>
	
	<div class="text-center">
		<h2>Đăng ký tài khoản</h2>
		<h4>Bạn đã đăng ký thành công tài khoản</h4>
		<p>Vui lòng kiểm tra hòm thư email để xác thực tài khoản.</p>
		<p><a th:href="@{/login}">Bấm vào đây để đăng nhập</a></p>
	</div>

	<div>&nbsp;</div>
	
	<div th:replace="navigation :: footer_menu"></div>
</body>
</html>